@font-face {
    font-family: Raleway-regular, sans-serif;
    src: url(fonts/Raleway-Regular.eot) format(eot);
    src: url(fonts/Raleway-Regular.woff) format(woff);
    src: url(fonts/Raleway-Regular.ttf) format(ttf);
  }
  @font-face {
    font-family: Raleway-bold, sans-serif;
    src: url(fonts/Raleway-Bold.eot) format(eot);
    src: url(fonts/Raleway-Bold.woff) format(woff);
    src: url(fonts/Raleway-Bold.ttf) format(ttf);
  }
  @font-face {
    font-family: Raleway-light;
    src: url(fonts/Raleway-Light.eot) format(eot);
    src: url(fonts/Raleway-Light.woff) format(woff);
    src: url(fonts/Raleway-Light.ttf) format(ttf);
  }
  @font-face {
    font-family: DeltaGoticOne, sans-serif;
    src: url(fonts/DelaGothicOne-Regular.eot) format(eot);
    src: url(fonts/DelaGothicOne-Regular.woff) format(woff);
    src: url(fonts/DelaGothicOne-Regular.woff2) format(woff2);
    src: url(fonts/DelaGothicOne-Regular.ttf) format(ttf);
  }
  body{
    margin: 0;
    padding: 0;
  }
  .container-one{
      display: flex;
      justify-content: space-between;
      margin: 3% 5% 2% 5%;
      font-size: 16px;
      align-items: center;
    }
    .container-one__second-block_logo{
      width: 184px;
      height: 50px;
    }
    .container-one__first-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      font-family: Raleway-regular,sans-serif;
  
    }
    .container-one__third-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 23%;
      font-family: Raleway-light, sans-serif;
      font-weight: 400;
    }
    .container-one__second-block{
      width: 20%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .container-one__first-block_pone{
      font-family: Raleway-bold, sans-serif;
      font-size: 16px;
      color: rgb(218, 31, 57);
      font-weight: 700;
      
    }
    .container-one__third-block_shop-cart, .container-one__third-block_search{
      width: 25px;
      height: 25px;
    }
    .container-one__third-block_vectoro{
      position: relative;
    }
    .container-one__third-block_vectoro::after{
      content: "";
      background-image: url(images/vector_before.png);
      background-size: contain;
      width: 10px;
      height: 6px;
      position: absolute;
      top: 30%;
      left: 108%;
    }
    .container-one__third-block_vectori{
      position: relative;
    }
    .container-one__third-block_vectori::after{
      content: "";
      background-image: url(images/vector_before.png);
      background-size: contain;
      width: 10px;
      height: 6px;
      position: absolute;
      top: 32%;
      left: 146%;
    }
    .adaptive__burger{
        display: none;
    }
    .section__one__first-div{
        background-image: url(images/glavnaya_1.png);
        background-size: cover;
        margin: 0 5% 7% 5%;
    }
    .section__one__first-div_h2{
        font-family: DeltaGoticOne, sans-serif;
        font-size: 7vw;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        padding: 10% 0 0 6%;
        margin: 0 ;
        line-height: 11vw;
    }
    .section__one__first-div_pone{
        font-family: Raleway-regular, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
        padding: 0 0 0 6%;
    }
    .section__one__first-div_button{
      background-color: rgb(218, 31, 57);
      color: white;
      text-transform: uppercase;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      border-width: 0;
      margin: 0 0 10% 6%;
      width: 16vw;
      height: 4vw;
    }
    .section__one__second-div_img{
        max-width: 100%;
        margin: auto;
    }
    .section__one__second-div{
        width: 60%;
        margin: auto;
    }
    .section__two__scroll, .section__three__scroll{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3% 5% 5% 5%;
    }
    .section__two__scroll h4, .section__three__scroll h4{
        font-family: DeltaGoticOne, sans-serif;
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: 400;
    }
    #scroll-left, #scroll-right, #scroll-left-two, #scroll-right-two{
        background: none;
        border: none;
    }
    #scroll-left img, #scroll-right img, #scroll-right-two img, #scroll-left-two img{
        width: 50px;
    }
    .section__two__images, .section__three__images{
        overflow-x: hidden;  
        white-space: nowrap;
        margin: 0 0 5% 5%;
    }
    .section__two__images p, .section__three__images p{
        font-family: Raleway-light, sans-serif;
        font-size: 1.1vw;
        word-wrap: break-word;
        max-width: 100%;
    }
    .section__two__images > div, .section__three__images > div{
        max-width: 25%;
        display: inline-block;
        padding-right: 3%;
        max-height: 446px;
        
    }
    .section__two__images  img, .section__three__images img{
        max-width: 100%;
        max-height: 368px;
        
    }
    .inside-div-fon{
        background-image: url(images/fon_foto2.png);
        
        
    }
    .inside-div-fon img, .inside-div-fon-two img{
        width: 80%;
        padding: 10% 10% 10% 10%;
        max-height: 300px;
    }
    .section__two__images .section__two__images_bold {
        font-family: Raleway-bold, sans-serif;
        font-weight: 700;
    }
    .section__three__images .section__three__images_bold{
        font-family: Raleway-bold, sans-serif;
        font-weight: 700;
        color: red;
    }

    .section__three__div{
        display: flex;
        padding: 5% 5% 0 5%;
        margin: auto;
        background-image: url(images/fon2.png);
        background-size: 100% 85%;
        background-repeat: no-repeat;
        
    }
    .section__three__div_first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        text-align: center;
        align-items: center;
        width: 120%;
    }
    .section__three__div_first h4{
        font-size: 1.5vw;
        font-family: Raleway-regular, sans-serif;
        font-weight: 300;
        max-width: 70%;
        opacity: 0.7;
    }
    .section__three__div_first button{
      background-color: rgb(218, 31, 57);
      color: white;
      text-transform: uppercase;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      border-width: 0;
      margin: 0 0 10% 6%;
      width: 16vw;
      height: 4vw;
    }
    
    .section__three__div_first_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section__three__div_first_container h2{
        font-family: DeltaGoticOne, sans-serif;
        max-width: 80%;
        font-size: 2.5vw;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10%;
        font-weight: 400;
        text-align: center;
    }

    .section__three__div_first_container p{
        font-family: Raleway-regular, sans-serif;
        font-size: 1.5vw;
        opacity: 0.6;
        text-transform: uppercase;
        margin-bottom: 1%;
    }
    .section__three__div_second img{
        max-width: 50vw;
    }

    .inside-div-fon-two{
      background-image: url(images/fon3-2.png);
      background-size: contain;
     
    }
    .line-through{
      text-decoration: line-through;
      color: rgb(147, 150, 148);
      margin-left: 10px;
    }
    .section__four__div{
      display: flex;
      justify-content: center;
      margin-bottom: 15%;
    }
    .section__four__div_first{
      position: relative;
      max-width: 100%;
    }
    .section__four__div_first img{
      max-width: 75%;
    }
    .section__four__div_first_imgtwo{
      position: absolute;
      top: 8vw;
      left: 8vw;
    }
    .section__four__div_second{
      margin-left: 3%;
    }
    .section__four__div_second h4, .section__five__first_inside_main h4{
      color: rgb(147, 150, 148);
      font-weight: 400;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.3vw;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .section__four__div_second h2, .section__five__first_inside_main h2{
      color: black;
      font-family: DeltaGoticOne, sans-serif;
      text-transform: uppercase;
      font-size: 4vw;
      font-weight: 400;
      margin-top: 0;
    }
    .section__four__div_second p, .section__five__first_inside_main p{
      font-family: Raleway-light, sans-serif;
      font-weight: 300;
      font-size: 1.2vw;
      max-width: 60%;
      margin-bottom: 5%;
    }
    .section__four__div_second a {
      color: rgb(218, 31, 57);
      font-family: Raleway-regular, sans-serif;
      font-size: 1.3vw;
      font-weight: 600;
      text-transform: uppercase;
    }
    .arrow_a{
      position: relative;
    }
    .arrow_a::after{
      content: "";
      position: absolute;
      width: 114%;
      height: 7px;
      background-image: url(images/arrow_a.png);
      top: 1.3vw;
      left: 0.2vw;
      min-width: 114px;
      max-width: 115px;
    }
    .section__four__div-sec{
      max-width: 67%;
      margin: auto;
    }
    .friends{
      max-width: 100%;
    }
    .section__five__first{
      background-image: url(images/fon_5_main.png);
      background-size: contain;
      padding-top: 2%;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
    }
   
    .section__five__first_inside{
      background-image: url(images/fon_5_sub.png);
      background-size: 90vw 43vw;
      background-repeat: no-repeat;
      margin: 5%;
      
    }
    .section__five__first_inside_main{
      padding: 5% 0 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      max-width: 39%;
      background-size: 90%;
    }
    .section__five__first_inside_main button{
      background-color: rgb(218, 31, 57);
      color: white;
      text-transform: uppercase;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      border-width: 0;
      margin: 0 0 10% 6%;
      width: 16vw;
      height: 4vw;
    }
    .time{
      position: relative;
    }
    .time::before{
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-image: url(images/clock-svgrepo-com.svg);
      left: -4%;
    }
    .location{
      position: relative;
    }

    .location::before{
      content: "";
      width: 15px;
      height: 18px;
      position: absolute;
      background-image: url(images/location.png);
      left: -4%;
    }
    .arrow_a_two{
      position: relative;
    }
    .arrow_a_two::after{
      content: "";
      position: absolute;
      width: 176%;
      height: 7px;
      background-image: url(images/Arrow_2.png);
      top: 1.3vw;
      left: 0.2vw;
      min-width: 194px;
      max-width: 195px;
    }
    .section__five__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .forest{
      max-width: 55vw;
    }
   .section__five__container_first h2{
      font-family: DeltaGoticOne, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5vw ;
      max-width: 70%;
      margin-left: 7%;
   }
   .section__five__container_first p{
      font-family: Raleway-light, sans-serif;
      font-size: 1vw;
      margin-left: 11%
   }
   .section__five__container_first a{
      color: rgb(218, 31, 57);
      font-family: Raleway-regular, sans-serif;
      font-size: 1vw;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 7%;
   }
   .bottom{
      margin-bottom: 7%;
   }
   .section__five__container_second{
     position: relative;
   }
   .party{
    position: absolute;
    top: 4vw;
    left: -9vw;
    max-width: 46vw;
   }
    


    @media screen and (max-width: 1215px) and (min-width: 864px){
        .container-one__third-block {
            width: 34%;
        }
        .container-one__first-block{
            width: 29%;
          }
        
    }
    @media screen and (max-width: 864px){
    .adaptive__burger{
        display: block;
      }
    
      .container-one__first-block{
        width: auto;
      }
      .container-one__third-block{
        width: 9%;
      }
      .laptop, .container-one__first-block_pone, .section-one__pone, .section-one__ponee, .container-one__third-block_vectoro, .container-one__third-block_vectori{
    display: none;
  }
    }