@font-face {
    font-family: Raleway-regular, sans-serif;
    src: url(fonts/Raleway-Regular.eot) format(eot);
    src: url(fonts/Raleway-Regular.woff) format(woff);
    src: url(fonts/Raleway-Regular.ttf) format(ttf);
  }
  @font-face {
    font-family: Raleway-bold, sans-serif;
    src: url(fonts/Raleway-Bold.eot) format(eot);
    src: url(fonts/Raleway-Bold.woff) format(woff);
    src: url(fonts/Raleway-Bold.ttf) format(ttf);
  }
  @font-face {
    font-family: Raleway-light;
    src: url(fonts/Raleway-Light.eot) format(eot);
    src: url(fonts/Raleway-Light.woff) format(woff);
    src: url(fonts/Raleway-Light.ttf) format(ttf);
  }
  @font-face {
    font-family: DeltaGoticOne, sans-serif;
    src: url(fonts/DelaGothicOne-Regular.eot) format(eot);
    src: url(fonts/DelaGothicOne-Regular.woff) format(woff);
    src: url(fonts/DelaGothicOne-Regular.woff2) format(woff2);
    src: url(fonts/DelaGothicOne-Regular.ttf) format(ttf);
  }
  body{
    margin: 0;
    padding: 0;
  }
  .container-one{
      display: flex;
      justify-content: space-between;
      margin: 3% 8% 2% 5%;
      font-size: 16px;
      align-items: center;
    }
    .container-one__second-block_logo{
      width: 184px;
      height: 50px;
    }
    .container-one__first-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      font-family: Raleway-regular,sans-serif;
  
    }
    .container-one__first-block a{
      text-decoration: none;
      color: black;
    }
   
    .container-one__first-block_pone a{
      color: red;
    }
   
    .container-one__third-block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 23%;
      font-family: Raleway-light, sans-serif;
      font-weight: 400;
    }
    .container-one__second-block{
      width: 20%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .container-one__first-block_pone{
      font-family: Raleway-bold, sans-serif;
      font-size: 16px;
      color: rgb(218, 31, 57);
      font-weight: 700;
      
    }
    .container-one__third-block_shop-cart, .container-one__third-block_search{
      width: 25px;
      height: 25px;
    }
    .container-one__third-block_vectoro{
      position: relative;
      border: none;
    }
    .container-one__third-block_vectoro::after{
      content: "";
      background-image: url(images/vector_before.png);
      background-size: contain;
      width: 10px;
      height: 6px;
      position: absolute;
      top: 30%;
      left: 108%;
    }
    .container-one__third-block_vectori{
      position: relative;
      border: none;
    }
    .container-one__third-block_vectori::after{
      content: "";
      background-image: url(images/vector_before.png);
      background-size: contain;
      width: 10px;
      height: 6px;
      position: absolute;
      top: 32%;
      left: 146%;
    }
    .adaptive__burger,.adaptive-footer, .adaptive-footer__icons{
        display: none;
    }
    .section__one__first-div{
        background-image: url(images/glavnaya_1.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 5% 7% 5%;
    }
    .section__one__first-div_h2{
        font-family: DeltaGoticOne, sans-serif;
        font-size: 5vw;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        padding: 10% 0 0 6%;
        margin: 0 ;
        
    }
    .section__one__first-div_pone{
        font-family: Raleway-regular, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
        padding: 0 0 0 6%;
    }
    .section__one__first-div_button{
      background-color: rgb(218, 31, 57);
      color: white;
      text-transform: uppercase;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      border-width: 0;
      margin: 0 0 10% 6%;
      width: 16vw;
      height: 4vw;
    }
    .section__one__second-div_img{
        max-width: 100%;
        margin: auto;
    }
    .section__one__second-div{
        width: 60%;
        margin: auto;
    }
    .section__two__scroll, .section__three__scroll{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3% 5% 5% 5%;
    }
    .section__two__scroll h4, .section__three__scroll h4{
        font-family: DeltaGoticOne, sans-serif;
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: 400;
    }
    #scroll-left, #scroll-right, #scroll-left-two, #scroll-right-two{
        background: none;
        border: none;
    }
    #scroll-left img, #scroll-right img, #scroll-right-two img, #scroll-left-two img{
        width: 50px;
    }
    .section__two__images, .section__three__images{
        overflow-x: hidden;  
        white-space: nowrap;
        margin: 0 0 5% 5%;
    }
    .section__two__images p, .section__three__images p{
        font-family: Raleway-light, sans-serif;
        font-size: 0.9vw;
        word-wrap: break-word;
        max-width: 100%;
        white-space: pre-wrap;
    }
    .section__two__images > div, .section__three__images > div{
        max-width: 25%;
        display: inline-block;
        padding-right: 3%;
        max-height: 446px;
        
    }
    .section__two__images  img, .section__three__images img{
        max-width: 100%;
        
        
    }
    .inside-div-fon{
        background-image: url(images/fon_foto2.png);
        
        
    }
    .inside-div-fon img, .inside-div-fon-two img{
        width: 80%;
        padding: 10% 10% 10% 10%;
       
    }
    .section__two__images .section__two__images_bold {
        font-family: Raleway-bold, sans-serif;
        font-weight: 700;
    }
    .section__three__images .section__three__images_bold{
        font-family: Raleway-bold, sans-serif;
        font-weight: 700;
        color: red;
    }

    .section__three__div{
        display: flex;
        padding: 5% 5% 0 5%;
        margin: auto;
        background-image: url(images/fon2.png);
        background-size: 100% 85%;
        background-repeat: no-repeat;
        
    }
    .section__three__div_first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        text-align: center;
        align-items: center;
        width: 120%;
    }
    .section__three__div_first h4, .section__three__adaptiv h4{
        font-size: 1.5vw;
        font-family: Raleway-regular, sans-serif;
        font-weight: 300;
        max-width: 70%;
        opacity: 0.7;
    }
    .section__three__div_first button, .section__three__adaptiv button{
      background-color: rgb(218, 31, 57);
      color: white;
      text-transform: uppercase;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      border-width: 0;
      margin: 0 0 10% 6%;
      width: 16vw;
      height: 4vw;
    }
    
    .section__three__div_first_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section__three__div_first_container h2{
        font-family: DeltaGoticOne, sans-serif;
        max-width: 80%;
        font-size: 2.5vw;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10%;
        font-weight: 400;
        text-align: center;
    }

    .section__three__div_first_container p{
        font-family: Raleway-regular, sans-serif;
        font-size: 1.5vw;
        opacity: 0.6;
        text-transform: uppercase;
        margin-bottom: 1%;
    }
    .section__three__div_second img{
        max-width: 50vw;
    }

    .inside-div-fon-two{
      background-image: url(images/fon3-2.png);
      background-size: contain;
     
    }
    .line-through{
      text-decoration: line-through;
      color: rgb(147, 150, 148);
      margin-left: 10px;
    }
    .section__four__div{
      display: flex;
      justify-content: center;
      margin-bottom: 15%;
    }
    .section__four__div_first{
      position: relative;
      max-width: 100%;
    }
    .section__four__div_first img{
      max-width: 75%;
    }
    .section__four__div_first_imgtwo{
      position: absolute;
      top: 8vw;
      left: 8vw;
    }
    .section__four__div_second{
      margin-left: 3%;
    }
    .section__four__div_second h4, .section__five__first_inside_main h4{
      color: rgb(147, 150, 148);
      font-weight: 400;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.3vw;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .section__four__div_second h2, .section__five__first_inside_main h2{
      color: black;
      font-family: DeltaGoticOne, sans-serif;
      text-transform: uppercase;
      font-size: 4vw;
      font-weight: 400;
      margin-top: 0;
    }
    .section__four__div_second p, .section__five__first_inside_main p{
      font-family: Raleway-light, sans-serif;
      font-weight: 300;
      font-size: 1.2vw;
      max-width: 60%;
      margin-bottom: 5%;
    }
    .section__four__div_second a {
      color: rgb(218, 31, 57);
      font-family: Raleway-regular, sans-serif;
      font-size: 1.3vw;
      font-weight: 600;
      text-transform: uppercase;
    }
    .arrow_a{
      position: relative;
    }
    .arrow_a::after{
      content: "";
      position: absolute;
      width: 114%;
      height: 7px;
      background-image: url(images/arrow_a.png);
      top: 1.3vw;
      left: 0.2vw;
      min-width: 114px;
      max-width: 115px;
    }
    .section__four__div-sec{
      max-width: 67%;
      margin: auto;
    }
    .friends{
      max-width: 100%;
      margin-bottom: 10%;
    }
    .section__five__first{
      background-image: url(images/fon_5_main.png);
      background-size: contain;
      padding-top: 2%;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
    }
   
    .section__five__first_inside{
      background-image: url(images/fon_5_sub.png);
      background-size: 90vw 43vw;
      background-repeat: no-repeat;
      margin: 5%;
      
    }
    .section__five__first_inside_main{
      padding: 5% 0 5% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: white;
      max-width: 39%;
      background-size: 90%;
    }
    .section__five__first_inside_main button, .section__five__adaptive button{
      background-color: rgb(218, 31, 57);
      color: white;
      text-transform: uppercase;
      font-family: Raleway-regular, sans-serif;
      font-size: 1.2vw;
      font-weight: 600;
      border-width: 0;
      margin: 0 0 10% 6%;
      width: 16vw;
      height: 4vw;
    }
    .time{
      position: relative;
    }
    .time::before{
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-image: url(images/clock-svgrepo-com.svg);
      left: -2vw;
    }
    .location{
      position: relative;
    }

    .location::before{
      content: "";
      width: 15px;
      height: 18px;
      position: absolute;
      background-image: url(images/location.png);
      left: -2vw;
    }
    .arrow_a_two{
      position: relative;
    }
    .arrow_a_two::after{
      content: "";
      position: absolute;
      width: 176%;
      height: 7px;
      background-image: url(images/Arrow_2.png);
      top: 1.3vw;
      left: 0.2vw;
      min-width: 194px;
      max-width: 195px;
    }
    .section__five__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5%;
    }
    .forest{
      max-width: 55vw;
    }
   .section__five__container_first h2{
      font-family: DeltaGoticOne, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5vw ;
      max-width: 70%;
      margin-left: 7%;
   }
   .section__five__container_first p{
      font-family: Raleway-light, sans-serif;
      font-size: 1vw;
      margin-left: 11%
   }
   .section__five__container_first a{
      color: rgb(218, 31, 57);
      font-family: Raleway-regular, sans-serif;
      font-size: 1vw;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 7%;
   }
   .bottom{
      margin-bottom: 7%;
   }
   .section__five__container_second{
     position: relative;
   }
   .party{
    position: absolute;
    top: 4vw;
    left: -9vw;
    max-width: 46vw;
   }
   .section__six__container{
    max-width: 100%;
    margin: 0 7% 7% 7%;
    display: flex;
    flex-direction: column;
   }
   .section__six__container_first{
    text-align: center;
   }
   .section__six__container_first h4{
    color: rgb(147, 150, 148);
    font-family: Raleway-light, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.5vw;
   }
   .section__six__container_first h2{
    font-family: DeltaGoticOne, sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 140%;
   }
   .section__six__container_first p{
    font-family: Raleway-light, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 5%;
   }
   .section__six__container_second img{
    max-width: 20vw;
   }
   .section__six__container_second{
    display: flex;
    justify-content: space-between;
   }
    
   footer{
    background-color: rgb(244, 244, 244);
    font-family: Raleway-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  .footer__div{
    width: 148px;
    margin: auto;
    padding-top: 5%;
  }
  .footer__div_logo{
    width: 148px;
  }
  .small-icon{
    width: 16.5px;
    height: 16.5px;
  }
  .footer__block{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 5%;
  }
  .footer__block_section-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    column-gap: 5px;
  }
  .footer__block_section-one_p{
    color: red;
    font-weight: 700;
    font-family: Raleway-bold, sans-serif;
    margin-top: 23%;
  }
  .footer__block_section-two{
    display: flex;
    flex-direction: column;
  }
  .footer__block_section-two p{
    margin-bottom: 1%;
  }
  .footer__block_section-two_time{
    display: flex;
    justify-content: space-between;
  }
  .footer__block_section-three_icons{
    display: flex;
    justify-content: space-between;
  }
  .footer__block_section-three_pone{
    margin-top: 67%;
  }
  
  .credentials__container{
    margin-bottom: 10%;
  }
  .footer__arrow{
    position: relative;
  }
  .arrow{
    position: absolute;
    width: 30px;
    height: 56.5px;
    right: 49%;
    bottom: -23px;
  }

  .button_adaptive, .section__three__adaptiv, .mobile, .section__five__adaptive{
    display: none;
  }
  .drop_down_burger{
    display: none;
    width: 90%;
    background-color: white;
    position: absolute;
  }
  #close{
    background: none;
    border: none;
  }
  .drop_down_burger_one{
    display: flex;
    justify-content: space-between;
    margin: 2% 0 0 2%;
  }
  .dropdown_logo{
    margin-right: 42%;
  }
  .drop_down_burger_two{
    display: flex;
    flex-direction: column;
  }
  .drop_down_burger_two p{
    font-family: DeltaGoticOne, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 2%;
    text-transform: uppercase;
  }
  .drop_down_burger_two p:first-child{
    color: red;
    position: relative;
  }
  .drop_down_burger_two p:first-child::after{
    content: "";
    width: 20px;
    height: 11px;
    background-image: url(images/arrow_dropdown.png);
    position: absolute;
    left: 30%;
    top: 11%;
  }
  .drop_down_burger_three{
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
  }
  .drop_down_burger_three button{
    border: none;
    background: none;
    font-family: Raleway-regular,sans-serif;
    font-size: 16px;
  }


    @media screen and (max-width: 1215px) and (min-width: 864px){
        .container-one__third-block {
            width: 34%;
        }
        .container-one__first-block{
            width: 29%;
          }
          
    }
    @media screen and (max-width: 640px){
      .section__five__adaptive{
        display: block;
        
      }
      .section__four__div{
        flex-direction: column;
        
      }
      .section__four__div_first img{
        max-width: 300px;
        max-height: 300px;
      }
      .section__four__div_first_imgtwo {
        position: absolute;
        top: 8vw;
        left: 26vw;
      }
      .section__four__div_first{
        margin-bottom: 10%;
      }
      .section__four__div_second p{
        font-size: 14px;
        max-width: 90%;
      }
      .section__four__div_second h4{
        font-size: 10px;
      }
      .section__four__div_second h2{
        font-size: 18px;
      }
      .arrow_a::after{
        top: 4vw;
      }
      .section__four__div_second a{
        font-size: 14px;
      }
      .section__four__div-sec{
        max-width: 90%;
      }
      .section__five__first_inside{
        height: 200px;
        margin-bottom: 0;
      }
      .section__five__first_inside_main p, .section__five__first_inside_main button{
        display: none;
      }
      .section__five__first_inside_main{
        height: 60%;
      }
      .section__five__adaptive{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        background-size: 90%;
        margin-top: 0;
      }
      .section__five__adaptive button{
        width: 215px;
        height: 50px;
        font-size: 14px;
      }
      .section__five__adaptive p{
        font-family: Raleway-light, sans-serif;
        font-weight: 300;
        font-size: 14px;
        max-width: 90%;
        margin-bottom: 5%;
      }
      .section__six__container_second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        margin-bottom: 10%;
      }
      .section__six__container_second img {
        max-width: 44vw;
       }
       .section__six__container_first h4{
        font-size: 10px;
       }
       .section__six__container_first h2{
        font-size: 18px;
       }
       .section__six__container_first p{
        font-size: 14px;
       }
        
                     
    }
    @media screen and (max-width: 864px){
    .adaptive__burger, .button_adaptive, .mobile{
        display: block;
      }
    #burger{
      border: none;
      background: none;
    }
      .container-one__first-block{
        width: auto;
      }
      .container-one__third-block{
        width: 9%;
      }
      .laptop, .container-one__first-block_pone, .section-one__pone, .section-one__ponee, .container-one__third-block_vectoro, .container-one__third-block_vectori, .footer__block_section-three_icons, .footer__block_section-three p:first-child, .button_laptop {
    display: none;
  }
      
      .section__one__first-div h2{
        font-size:24px;
        
      }
      .section__one__first-div{
        background-image: url(images/fon_adaptiv_2.png);
        height: 400px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .section__one__first-div_pone{
        font-size: 14px;
      }
      .section__one__first-div button{
        background-color: rgb(218, 31, 57);
        color: white;
        text-transform: uppercase;
        font-family: Raleway-regular, sans-serif;
        font-size: 14px;
        font-weight: 600;
        border-width: 0;
        margin: 0 0 10% 6%;
        width: 225px;
        height: 50px;
      }
      .section__one__second-div{
        width: 90%;
      }
      .inside-div-fon img, .inside-div-fon-two img{
        width: 84%;
        padding: 10% 6% 10% 8%;
        max-height: 370px;
      }
      .section__two__images > div, .section__three__images > div{
        max-width: 100%;
        display: inline-block;
        padding-right: 3%;
        max-height: 446px;
      }
      .section__two__images img, .section__three__images img{
        max-width: 100%;
        max-height: 370px;
      }
      .inside-div-fon {
        max-height: 374px;
      }
      .section__two__images p, .section__three__images p{
        font-size: 14px;
      }
      .inside-div-fon-two{
        max-height: 374px;
      }
      .inside-div-fon-two .foto3-2{
        padding: 2.5% 6% 10% 8%;
      }
      #scroll-left img, #scroll-right img, #scroll-right-two img, #scroll-left-two img{
        width: 40px;
      }
      .section__three__div_first_container h2{
        font-size: 18px;
      }
      .section__three__div_second img {
        max-width: 40vw
      }
      .section__three__div_first_container h2{
        font-size: 3vw;
      }
      .section__three__div_first_container p{
        font-size: 2vw;
      }
      .section__three__adaptiv{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .section__three__adaptiv h4{
        font-size: 14px;
        max-width: 322px;
      }
      .section__three__adaptiv button{
        width: 215px;
        height: 50px;
        font-size: 14px;
      }
      .section__five__container{
        flex-direction: column-reverse;
        align-items: normal;
      }
      .section__five__container_second{
        display: flex;
        justify-content: flex-end;
      }
      .section__five__container_first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;

      }
      .party{
        position: absolute;
        top: 4vw;
        left: 21vw;
        max-width: 46vw;
      }
      .section__five__container_first h2{
        font-size: 18px;
        max-width: 100%;
      }
      .section__five__container_first p, .section__five__container_first a{
        font-size: 14px;
      }
      .arrow_a_two::after{
        top: 4.3vw;
      }
      .location::before, .time::before{ 
        left: -5vw;
      }
  .footer__block{
    display: block;
   }
   .adaptive-footer{
    display: block;
  }
  .footer__block_section-one{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .footer__block_section-one_p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .adaptive-footer__icons{
    display: flex;
    justify-content: space-between;
    grid-column: 3 ;
  }
  .footer__block_section-two {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .footer__block_section-two_time {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 61%;
  }
  .footer__block_section-three_pone{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
    }
    @media  screen and (max-width: 325px) {
      .section__two__scroll, .section__three__scroll{
        position: relative;
      }
      #scroll-left, #scroll-left-two{
        position: absolute;
        top: 482%;
        left: -7%;
      }
      #scroll-right, #scroll-right-two{
        position: absolute;
        top: 482%;
        left: 89%;
      }
    }
   